<h1 id="title">Iniciar sesion</h1>
<form #userForm="ngForm" (ngSubmit)="sendData()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      name="email"
      id="email"
      #email="ngModel"
      [(ngModel)]="userData.email"
      placeholder="Email"
      autocomplete="email"
      required
    />
  </div>
  <div class="form-group">
    <label for="password">Contraseña</label>
    <input
      type="password"
      name="password"
      id="password"
      #password="ngModel"
      [(ngModel)]="userData.password"
      placeholder="Contraseña"
      autocomplete="off"
      required
    />
  </div>
  <button type="submit" id="btn-submit" [disabled]="userForm.invalid">
    ENVIAR
  </button>
</form>

<div class="buttons">
  <button class="btn">
    <a [routerLink]="['/register']" class="btn-a">Registrarse</a>
  </button>
</div>
